<!DOCTYPE html>
<html ng-app="rentalApp">
<head>
  <title>Rental Ecommerce</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <!-- Include your AngularJS files -->
  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>
  <script src="app/services/auth.service.js"></script>
  <script src="app/services/cart.service.js"></script>
  <script src="app/components/login/login.component.js"></script>
  <script src="app/components/product-list/product-list.component.js"></script>
  <script src="app/components/product-details/product-details.component.js"></script>
  <script src="app/components/cart/cart.component.js"></script> 
  <link rel="stylesheet" href="server/styles.css"></link> 
</head>
<body ng-controller="MainController">
  <header>
    <!-- <h1 class="title">Sisloc</h1> -->
    <img ng-src="https://th.bing.com/th/id/R.d7cf99342c532e763bbcd19d5abe373f?rik=E9YhHsDuVXLbgA&riu=http%3a%2f%2fopenandaimes.sisloc.srv.br%2fopenandaimes%2fimages%2f256%2fsisloc_logo.png&ehk=Z2a6biBCxvZ5RxqqfL1eYGuXJ10C67dBgpt06tYipec%3d&risl=&pid=ImgRaw&r=0" alt="Logo Sisloc"> <!-- Imagem da Logo Sisloc e legenda caso não carregue -->
    <h2 class="subtitle">Portal de Locação de Equipamentos</h2>
    <div ng-if="isAuthenticated">
      <button ng-click="logout()">Logout</button>
    </div>  
  </header>

  <div ng-view></div> 
</body>
</html>