header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffa600;
    padding: 10px;
  
    display: flex; /* Ativa o layout Flexbox */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    align-items: center; /* Alinha os elementos verticalmente no centro */
}
  
  header img {
    max-width: 120px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    flex: 0 0 auto; /* Evita que a imagem se expanda ou encolha */
  }
  
  .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    flex: 1 1 auto; /* Permite que o subtítulo ocupe o espaço restante */
    text-align: center; /* Centraliza o texto do subtítulo */
  }
  
  header div { /* Estilos para o container do botão */
    flex: 0 0 auto; /* Evita que o container se expanda ou encolha */
  }