body {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    height: 110vh; /* Define a altura como 100% da altura da janela */
    margin: 0; /* Remove as margens padrão do body */
}
  
header {
position: absolute; /* Posiciona o header no topo */
top: 0;
left: 0;
right: 0; /* Ocupa toda a largura da tela */
background-color: #ffa600; /* Cor de fundo do header (opcional) */
padding: 10px; /* Espaçamento interno do header (opcional) */
}

ng-view {
    height: calc(110vh - 210px); /* Altura total da janela - altura do header */
    overflow-y: auto; /* Adiciona uma barra de rolagem se necessário */
}

.title {
    font-family: 'Open Sans', sans-serif;
}