<head>
  <link rel="stylesheet" href="app/components/product-list/product-list.css">
</head>


<body>
  <h2 class="title">Nossos Produtos</h2>
  <input type="text" ng-model="vm.searchTerm" placeholder="Busque o equipamento desejado..." ng-change="vm.filterProducts()">

  <div class="search-and-grid">

    <div class="product-grid">
      <div class="product-card" ng-repeat="product in vm.filteredProducts"> 
        <a ng-href="#!/products/{{product.id}}"> <!-- Link para a página de details -->
          <img ng-src="{{product.image}}" alt="{{product.name}}">    
        </a>
        <h3>{{product.name}}</h3>
          <p class="description">{{product.description}}</p> 
        <p class="price">Valor aluguel: ${{product.rentalPrices.day}}/dia</p> 
        <button ng-click="vm.addToCart(product)">Adicione ao Carrinho</button> 
      </div>
    </div>
  </div>
  

  <h2 class="title">Carrinho</h2>
  <div class="cart-card">
    <ul>
      <li ng-repeat="item in vm.cartItems"> 
        <span>{{item.name}} </span>    
        <button ng-click="vm.subtractQuantity(item)">-</button> <!-- Botão para subtrair -->
        <input type="number" ng-model="item.quantity" ng-change="vm.updateCart()"> <!-- Campo para a quantidade -->
        <button ng-click="vm.addQuantity(item)">+</button> <!-- Botão para adicionar -->
        <span>Total: ${{item.rentalPrices.day * item.quantity}}/dia</span>
        <button ng-click="vm.removeFromCart(item)">Remover</button>
      </li>
    </ul>

    <div class="cart-total">
      Valor Total: ${{vm.getTotalCartValue()}} 
    </div>
  </div>
</body>
